DB_NAME=coupon_db
DB_USERNAME=coupon_user
DB_PASSWORD=coupon_pass
LOGGING_PEPPER=secret-pepper
COUPON_ADMIN_KEY_HASH=my-admin-secret
COUPON_REDEEM_KEY_HASH=my-admin-secret
echo -n "my-admin-secret" | sha256sum